
body {
    
    display: block;
    width: 960px;
    margin: auto;
    background: linear-gradient( #6b4d03, #ffc129,#6b4d03 );
    box-shadow: 5px 10px 5px 10px #6b4d03;
    border-radius: 5px;
    
}

header {

    
    background-color: #ffc129;
    width: 960px;
    height: 60px;
    border-radius: 5px 5px 0px 0px;
    
}

.logo {

    width: 350px;
    float: right;
}

#container {
    background-color: #ffffff;
}

div.content {

    display: block;
    margin: 0px;
    padding: 0px;
    float: right;
    width: 740px;
    min-height: 100%;
    
    
}

aside {
    width: 200px;
    background-color: #ffc129;
    min-height: 800px; /*här vi kan skriva height 100% när det kommer inehållet*/   
}

.menytext {

    text-decoration: none; /*tar bort linjen under texten på länken*/
}

.menyknapp {
    color: #ffffff;
    font-size: 25px; /*behövs ändras så det blir relativt*/
    font-family: ; /*lägg in fonten vi väljer här*/
    width: 200px; /*behövs ändras så det blir relativt*/
    display: block; /*gör så hela knappen blir klickbar, inte bara texten*/
    block-size: 50px; /*behövs ändras så det blir relativt*/
    background-color: #533c05;
    border-color: #382903;
    border-radius: 5px;
    min-height: 50px; /*behövs ändras så det blir relativt*/
}

.menyknapp:hover {

    color: #e6e6e6;
    background-color: #966d09;
    border-color: #856108;
    border-radius: 5px;
}

.menyknapp:active { /*vill vi ha med detta?*/

    color: ;
    background-color: ;
    border-color: ;
}

.menyknapp::after { /*vill vi ha med detta?*/

    color: ;
    background-color: ;
    border-color: ;
}

h1 {
    padding-top: 20px;
}

.about p {
    width: 350px;
    padding-top: 20px;
    justify-content: center;
    text-align: justify;
}

fieldset {
    width: 250px;
    min-height: 400px;
}

.form {
    padding-left: 50px;
    padding-top: 80px;
}

.content{ /* Css för gallery */
    display: block;
    width: 250px;

}

.gallery {
    display: flex;
    width: 250px;
    flex-direction: row;
    flex-wrap: wrap;
}

.image:hover img{
    transform: scale (1.1);
}

@media screen and (max-width:1024px) {
    
}
/* Css gallery end */

/* Css forum start*/
#sectionForum {
    display: flex;
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#inputForum {
    display: flex;
    width: 400px;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 250px;
    justify-content: center;
}

#knappForum {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

#textrutaForum {
    display: flex;
    width: 400px;
    background-color: #e6e6e6; /* ska/kan tas bort */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
/* Css forum end */

footer {
   
    background-color: #ffc129;
    height: 60px;
    position: relative;
    border-radius: 0px 0px 5px 5px;
}

/*Den här vi använder specifitet i två nivåer*/
footer p {

    color: #ffffff;
    padding-top: 3px;
    padding-left: 10px;
    float: left;
    
}

